torch==2.11.0
numpy==2.4.6
gymnasium==1.2.2
stable_baselines3==2.7.0

eclipse-sumo==1.25.0

pandas==3.0.3
matplotlib==3.10.7
plotly==6.7.0
streamlit==1.57.0

ultralytics==8.4.46
opencv-python==4.13.0.92

python-pptx==1.0.2
lxml==6.1.1
manim==0.20.1
